<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel='stylesheet' href="/css/styles.css">
         <link rel="icon" href="/img/weather.png">
        
    </head>

    
    <body>
        <div class="maincontent">
        {{>header}}
        <img class="portrait" src="/img/IMG_6339.PNG">
        </div>
        {{>footer}}
        
    </body>
</html>