<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel='stylesheet' href="/css/styles.css">
         <link rel="icon" href="/img/weather.png">
           
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./app.js"></script>
        
    </head>

    
    <body>
        <div class="maincontent">
        {{>header}}
        <p>The web-page was developed in this following way :-</p>
        <ul>
            <li>node.js as the primary engine</li>
            <li>express server</li>
            <li>metiomatics API to obtain weather data</li>
            <li>geocode api to converrt search results into lat and long co-ordinates</li>
            <li>wiring up of the code using call back functions</li>
            <li>basic HTML templates was developed using handlebars npm tool</li>
            <li>transfer code to git</li>
            <li>SSH-KEY generation</li>
            <li>hosting was done using the heroku platform</li>
        </ul>
        <img class="portrait" src="/img/DSC_1116.JPG">
        </div>
        {{>footer}}
        
    </body>
</html>