<!DOCTYPE html>
<html>
    <head>
        <title>assistance</title>
        <link rel='stylesheet' href="/css/styles.css">
         <link rel="icon" href="/img/weather.png">
        
    </head>

    
    <body>
        <div class="maincontent">
        {{>header}}
        </div>
        {{>footer}}


    </body>
</html>