<!DOCTYPE html>
<html>
    <head>
        <title>assistance</title>
        <link rel='stylesheet' href="/css/styles.css">
         <link rel="icon" href="/img/weather.png">
            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./app.js"></script>
        
    </head>

    
    <body>
        <div class="maincontent">
        {{>header}}
        <p>The entire web-page is designed to provide information on weather all you need to do is enter the address or name of the location in the search box and click the button next to it.</p>
        </div>
        {{>footer}}


    </body>
</html>