<!DOCTYPE html>
<html>
    <head>
        <title>error</title>
        <link rel='stylesheet' href="/css/styles.css">
         <link rel="icon" href="/img/weather.png">
        
    </head>

    
    <body>
        <div class="maincontent">
        {{>header}}
        <h2>please retuen to the main menu to get a better understanding</h2>
        </div>
        {{>footer}}
    </body>
</html>