<!DOCTYPE html>
<html>
    <head>
        <title>climate</title>
        <link rel='stylesheet' href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        
        
        
    </head>

    
    <body>
        <div class="maincontent">
        {{>header}}
        <p>please use this web-page to get info on climate!</p>
        <form>
            <input placeholder="area">
            <button>Find!</button>
        </form>
        <p id="one"></p>
        <p id="two"></p>

        </div>
        <div id="map"></div>
        {{>footer}}




        <script src="/js/app.js"> </script>
        
    </body>
</html>